## Loading and Inspecting the Data

In [1]:
import pandas as pd

# import dataset from .csv files
annonimized_df = pd.read_csv('public_it001/annonimized.csv')
th_public_df = pd.read_csv('public_it001/th-public.csv')

#ck_public_df = pd.read_csv('public_it001/tbtl-public.csv')
#qt_public_df = pd.read_csv('public_it001/qt-public.csv')
#tbtl_public_df = pd.read_csv('public_it001/ck-public.csv')

In [ ]:
# Inspect the first few rows 
print(annonimized_df.head())
#print(th_public_df.head())

#print(ck_public_df.head())
#print(qt_public_df.head())
#print(tbtl_public_df.head())

## Data Cleaning and Merging

In [ ]:
# Select the specified columns/features
selected_columns = [
    'assignment_id',
    'username',
    'is_final',
    'status',
    'coefficient',
    'judgement'
]
# Save filtered df to csv file (optional)
df = annonimized_df[selected_columns]
#df.to_csv('filtered_annonimized.csv', index=False)

In [14]:
df.head()

,assignment_id,username,is_final,status,coefficient,judgement
0,90ce27571176d87961b565d5ef4b3de33ede04ac,ed9eaeb6a707f50154024b24d7efcb874a9795dd,0,SCORE,100,"{""times"":[0,0,0,0,0,0,0,0,0,0],""mems"":[0,0,0,0..."
1,90ce27571176d87961b565d5ef4b3de33ede04ac,ed9eaeb6a707f50154024b24d7efcb874a9795dd,0,SCORE,100,"{""times"":[0,0,0,0,0,0,0,0,0,0],""mems"":[0,0,0,0..."
2,90ce27571176d87961b565d5ef4b3de33ede04ac,ed9eaeb6a707f50154024b24d7efcb874a9795dd,1,SCORE,100,"{""times"":[0,0,0,0,0,0,0,0,0,0],""mems"":[0,0,0,0..."
3,90ce27571176d87961b565d5ef4b3de33ede04ac,ed9eaeb6a707f50154024b24d7efcb874a9795dd,1,SCORE,100,"{""times"":[0,0,0,0,0,0,0,0,0,0],""mems"":[0,0,0,0..."
4,90ce27571176d87961b565d5ef4b3de33ede04ac,ed9eaeb6a707f50154024b24d7efcb874a9795dd,1,SCORE,100,"{""times"":[0,0,0,0,0,0,0,0,0,0],""mems"":[0,0,0,0..."

In [12]:
# Combine data if necessary (assuming common key)
combined_df = pd.merge(df, th_public_df, on='common_key')